.post-preview
  padding: 2em 0
  border-bottom: 1px solid $light-grey
  h3 a
    color: $font-color
    text-decoration: none
    font-family: $font-family
    font-weight: 300
  p
    color: lighten($font-color, 20%)
